<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vocaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".QuizColorMean10"></activity>
        <activity android:name=".QuizColorPicture10" />
        <activity android:name=".QuizColorPicture9" />
        <activity android:name=".QuizColorPicture8" />
        <activity android:name=".QuizColorPicture7" />
        <activity android:name=".QuizColorPicture6" />
        <activity android:name=".QuizColorPicture5" />
        <activity android:name=".QuizColorPicture4" />
        <activity android:name=".QuizColorPicture3" />
        <activity android:name=".QuizColorPicture2" />
        <activity android:name=".QuizColorPicture1" />

        <activity android:name=".QuizColorMean9" />
        <activity android:name=".QuizColorMean8" />
        <activity android:name=".QuizColorMean7" />
        <activity android:name=".QuizColorMean6" />
        <activity android:name=".QuizColorMean5" />
        <activity android:name=".QuizColorMean4" />
        <activity android:name=".QuizColorMean3" />
        <activity android:name=".QuizColorMean2" />
        <activity android:name=".QuizColorMean1" />
        <activity android:name=".QuizAnimalPicture10" />
        <activity android:name=".QuizAnimalPicture9" />
        <activity android:name=".QuizAnimalPicture8" />
        <activity android:name=".QuizAnimalPicture7" />
        <activity android:name=".QuizAnimalPicture6" />
        <activity android:name=".QuizAnimalPicture5" />
        <activity android:name=".QuizAnimalPicture4" />
        <activity android:name=".QuizAnimalPicture3" />
        <activity android:name=".QuizAnimalPicture2" />
        <activity android:name=".QuizAnimalPicture1" />
        <activity android:name=".QuizAnimalMean10" />
        <activity android:name=".QuizAnimalMean9" />
        <activity android:name=".QuizAnimalMean8" />
        <activity android:name=".QuizAnimalMean7" />
        <activity android:name=".QuizAnimalMean5" />
        <activity android:name=".QuizAnimalMean4" />
        <activity android:name=".QuizAnimalMean3" />
        <activity android:name=".QuizAnimalMean2" />
        <activity android:name=".QuizAnimalMean1" />
        <activity android:name=".QuizColorChoice" />
        <activity android:name=".QuizHobbyChoice" />
        <activity android:name=".QuizNumberChoice" />
        <activity android:name=".QuizPlaceChoice" />
        <activity android:name=".QuizAnimalChoice" />
        <activity android:name=".QuizSchoolChoice" />
        <activity android:name=".QuizFamilyChoice" />
        <activity android:name=".QuizFoodChoice" />
        <activity android:name=".StudyAnimal10" />
        <activity android:name=".StudyAnimal9" />
        <activity android:name=".StudyAnimal8" />
        <activity android:name=".StudyAnimal7" />
        <activity android:name=".StudyAnimal6" />
        <activity android:name=".StudyAnimal5" />
        <activity android:name=".StudyAnimal4" />
        <activity android:name=".StudyAnimal3" />
        <activity android:name=".StudyAnimal2" />
        <activity android:name=".StudyAnimal1" />
        <activity android:name=".StudyPlace10" />
        <activity android:name=".StudyPlace9" />
        <activity android:name=".StudyPlace8" />
        <activity android:name=".StudyPlace7" />
        <activity android:name=".StudyPlace6" />
        <activity android:name=".StudyPlace5" />
        <activity android:name=".StudyPlace4" />
        <activity android:name=".StudyPlace3" />
        <activity android:name=".StudyPlace2" />
        <activity android:name=".StudyPlace1" />
        <activity android:name=".StudyNumber10" />
        <activity android:name=".StudyNumber9" />
        <activity android:name=".StudyNumber8" />
        <activity android:name=".StudyNumber7" />
        <activity android:name=".StudyNumber6" />
        <activity android:name=".StudyNumber5" />
        <activity android:name=".StudyNumber4" />
        <activity android:name=".StudyNumber3" />
        <activity android:name=".StudyNumber2" />
        <activity android:name=".StudyNumber1" />
        <activity android:name=".StudyHobby10" />
        <activity android:name=".StudyHobby9" />
        <activity android:name=".StudyHobby8" />
        <activity android:name=".StudyHobby7" />
        <activity android:name=".StudyHobby6" />
        <activity android:name=".StudyHobby5" />
        <activity android:name=".StudyHobby4" />
        <activity android:name=".StudyHobby3" />
        <activity android:name=".StudyHobby2" />
        <activity android:name=".StudyHobby1" />
        <activity android:name=".StudySchool10" />
        <activity android:name=".StudySchool9" />
        <activity android:name=".StudySchool8" />
        <activity android:name=".StudySchool7" />
        <activity android:name=".StudySchool6" />
        <activity android:name=".StudySchool5" />
        <activity android:name=".StudySchool4" />
        <activity android:name=".StudySchool3" />
        <activity android:name=".StudySchool2" />
        <activity android:name=".StudySchool1" />
        <activity android:name=".StudyFamily10" />
        <activity android:name=".StudyFamily9" />
        <activity android:name=".StudyFamily8" />
        <activity android:name=".StudyFamily7" />
        <activity android:name=".StudyFamily6" />
        <activity android:name=".StudyFamily5" />
        <activity android:name=".StudyFamily4" />
        <activity android:name=".StudyFamily3" />
        <activity android:name=".StudyFamily2" />
        <activity android:name=".StudyFamily1" />
        <activity android:name=".StudyFood10" />
        <activity android:name=".StudyFood9" />
        <activity android:name=".StudyFood8" />
        <activity android:name=".StudyFood7" />
        <activity android:name=".StudyFood6" />
        <activity android:name=".StudyFood5" />
        <activity android:name=".StudyFood4" />
        <activity android:name=".StudyFood3" />
        <activity android:name=".StudyFood2" />
        <activity android:name=".StudyFood1" />
        <activity android:name=".StudyColor10" />
        <activity android:name=".StudyColor7" />
        <activity android:name=".StudyColor8" />
        <activity android:name=".StudyColor9" />
        <activity android:name=".StudyColor6" />
        <activity android:name=".StudyColor5" />
        <activity android:name=".StudyColor4" />
        <activity android:name=".StudyColor3" />
        <activity android:name=".StudyColor2" />
        <activity android:name=".StudyColor1" />
        <activity android:name=".StudyActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>